.text-lightish {
    color: rgb(209, 209, 209);
}

.movies-cont {
    padding: 7px;
}

.movie-cards {
    cursor: pointer;
}

.filter {
    margin-top: 10px;
}

.movies {
    border-color: rgb(7, 14, 9);
    border-style: solid;
}

.title {
    cursor: pointer;
}

#notAButton{
    visibility: hidden;

}

.button{
    float: inline-end;
    visibility: hidden;
}

.search-history {
    position: absolute;
    display: inline-block;
    width: 100%;
}

.search-results {
    display: block;
    position: relative;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-style: solid;
    border-color: #d4d4d4;
    border-bottom-style: hidden;
}